<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Blockchain Certificate - Verified</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body class="bg-light">
    <%- include('partials/navbar-partial.ejs') %>


        <div class="container justify-content-center">
            <br>
            <div class="text-center mb-4">
                <h1 class="text-success">&#10004; Verification Successful</h1>
                <p class="text-muted">This certificate has been cryptographically verified against the blockchain
                    ledger.</p>
            </div>

            <div class="row cert-container card">
                <div class="col-sm-12 card-body ">
                    <div class="row text-center upper-row">
                        <div class="col-sm-4 orange"> <strong>Name <br></strong>
                            <%= certData.studentName %>
                        </div>
                        <div class="col-sm-4 orange"><strong>Email <br></strong>
                            <%= certData.studentEmail %>
                        </div>
                        <div class="col-sm-4 orange"> <strong>Date Of Issuing <br></strong>
                            <%= certData.dateOfIssuing %>
                        </div>
                    </div>
                    <div class="row text-center middle-row">
                        <div class="col-sm-4 orange"> <strong>University Name<br></strong>
                            <%= certData.universityName %>
                        </div>
                        <div class="col-sm-4 orange"><strong>University Email<br></strong>
                            <%= certData.universityEmail %>
                        </div>
                        <div class="col-sm-4 orange"><strong>Certificate UUID <br></strong>
                            <%= certData._id %>
                        </div>
                    </div>
                    <% if (certData.rollNumber) { %>
                        <div class="row text-center" style="padding: 10px 0;">
                            <div class="col-sm-4 orange"><strong>Roll Number<br></strong>
                                <%= certData.rollNumber %>
                            </div>
                            <div class="col-sm-8"></div>
                        </div>
                        <% } %>
                            <div class="row text-center bottom-row">
                                <strong class="col-12 mb-2">Verified Certificate Data:</strong>
                                <% Object.keys(proofData).forEach(function (key) { %>
                                    <div class="col-sm-4 orange"><strong>
                                            <%= key %><br>
                                        </strong>
                                        <%= proofData[key] %>
                                    </div>
                                    <% });%>
                            </div>
                </div>
            </div>

            <div class="text-center mt-3 mb-4">
                <a href="/verify" class="btn btn-outline-primary">Verify Another Certificate</a>
            </div>

        </div>


</body>

</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
    integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
    integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
    crossorigin="anonymous"></script>